In [1]:
import pandas as pd

In [2]:
# Load Airbnb dataset
airbnb_data = pd.read_csv('assets/Airbnb_Open_Data.csv', low_memory=False)

# Load Zillow Home Value Index (ZHVI) dataset
zhvi_data = pd.read_csv('assets/ZHVI_dataset.csv')

In [3]:
# Preliminary data exploration
print("Airbnb Dataset Preview:")
print(airbnb_data.head())
print("\nZHVI Dataset Preview:")
print(zhvi_data.head())

Airbnb Dataset Preview:
        id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                               NaN  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                    NaN     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0
2  40.80902 -73.94190  United States  ...       $124             3.0
3  40.68514 -73.95976  United States  ...        $74            30.0
4  40.79851 -73.94399  United States  ...        $41            10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0         NaN                NaN                5.0
3             270.0    7/5/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN
2  I encourage you to use my kitchen, cooking and...     NaN
3                                                NaN     NaN
4  Please no smoking in the house, porch or on th...     NaN

[5 rows x 26 columns]

ZHVI Dataset Preview:
   RegionID  SizeRank         RegionName    RegionType StateName State  \
0    112345         0           Maryvale  neighborhood        AZ    AZ
1    192689         1           Paradise  neighborhood        NV    NV
2    270958         2    Upper West Side  neighborhood        NY    NY
3    270957         3    Upper East Side  neighborhood        NY    NY
4    118208         4  South Los Angeles  neighborhood        CA    CA

          City                                  Metro          CountyName  \
0      Phoenix              Phoenix-Mesa-Chandler, AZ     Maricopa County
1    Las Vegas       Las Vegas-Henderson-Paradise, NV        Clark County
2     New York  New York-Newark-Jersey City, NY-NJ-PA     New York County
3     New York  New York-Newark-Jersey City, NY-NJ-PA     New York County
4  Los Angeles     Los Angeles-Long Beach-Anaheim, CA  Los Angeles County

      1/31/2000  ...     3/31/2023     4/30/2023     5/31/2023     6/30/2023  \
0   66424.13603  ...  3.121027e+05  3.118438e+05  3.131210e+05  3.149494e+05
1  132849.27360  ...  3.609180e+05  3.591323e+05  3.586049e+05  3.593235e+05
2  400382.57820  ...  1.333659e+06  1.319181e+06  1.312394e+06  1.306469e+06
3  644795.46200  ...  1.299309e+06  1.280345e+06  1.271159e+06  1.265537e+06
4  123966.89590  ...  6.050142e+05  6.009173e+05  6.018500e+05  6.054377e+05

      7/31/2023     8/31/2023     9/30/2023    10/31/2023    11/30/2023  \
0  3.173945e+05  3.203608e+05  3.229862e+05  3.253805e+05  3.274101e+05
1  3.611225e+05  3.640028e+05  3.668549e+05  3.693293e+05  3.714749e+05
2  1.300068e+06  1.290134e+06  1.279944e+06  1.268694e+06  1.256646e+06
3  1.261153e+06  1.256656e+06  1.252097e+06  1.243821e+06  1.232594e+06
4  6.124240e+05  6.217880e+05  6.312672e+05  6.393152e+05  6.455644e+05

     12/31/2023
0  3.289643e+05
1  3.735548e+05
2  1.249004e+06
3  1.222273e+06
4  6.496390e+05

[5 rows x 297 columns]

In [4]:
# Handling missing values
airbnb_data.dropna(subset=['neighbourhood'], inplace=True)

# Removing currency symbols and converting 'price' to a numeric type
airbnb_data['price'] = airbnb_data['price'].replace('[\$,]', '', regex=True).astype(float)

# Correcting the column name for price and removing any non-positive prices in Airbnb dataset
airbnb_data = airbnb_data[airbnb_data['price'] > 0]

In [5]:
# Handling missing values
airbnb_data.dropna(subset=['neighbourhood'], inplace=True)
airbnb_data.dropna(subset=['price'], inplace=True)

# Removing currency symbols and converting 'price' to a numeric type
airbnb_data['price'] = airbnb_data['price'].replace('[\$,]', '', regex=True).astype(float)

# Correcting the column name for price and removing any non-positive prices in Airbnb dataset
airbnb_data = airbnb_data[airbnb_data['price'] > 0]

# Handling missing values
zhvi_data.dropna(subset=['RegionName'], inplace=True)

# Filtering Zillow dataset for New York City
ny_zhvi_data = zhvi_data[zhvi_data['City'] == 'New York']

In [6]:
merged_data = pd.merge(airbnb_data, ny_zhvi_data, left_on='neighbourhood', right_on='RegionName', how='inner')
merged_data.to_csv('cleaned_data.csv', index=False)

##Analysis

How does the prevalence of Airbnb listings correlate with the spatial distribution of housing prices across different neighborhoods in New York City? In the last 5 years?

In [11]:
#group by neighborhood size
# listings are depicted by density on map
# price
grouped_listings = merged_data.groupby('neighbourhood').size().reset_index(name='grouped_listings')

       neighbourhood  grouped_listings
0      Arden Heights                 9
1           Arrochar                51
2            Astoria              1871
3         Bath Beach                48
4          Bay Ridge               304
..               ...               ...
159  Windsor Terrace               330
160        Woodhaven               191
161         Woodlawn                29
162          Woodrow                 3
163         Woodside               583

[164 rows x 2 columns]

In [ ]:
# take the average of all the date columns for past 5 years (1/31/2019 - )

# calculate average price (in zillow dataset) for each neighbourhood


mean_price = grouped_listings.groupby('price').mean().reset_index(name='avereage price')